body{
	font-family: 'Raleway', sans-serif; 
	margin: 0;
	padding: 0;
}
label{
	width: 100%;
	display: inline-block;
}
input[type="text"]{
	border: none;
	border-bottom: 1px solid #b5b6b7;
	width: 100%;
}
input[type="checkbox"]{
	margin: 5px 0;
}
:focus{
	outline: none;
}
textarea{
	width: 100%;
	height: 100px;
}
a{
	text-decoration: none;
	color: #FF4000;
}
footer{
	background: #3E3F40;
	box-sizing: border-box;
	width: 100%;
	color: white;
	padding: 5% 10%;
	overflow: auto;
}
img{
	width: 100%;
	height: 100%;
}
.contenido-general{
	margin: 10%;
}
.mb3{
	margin-bottom: 3%;
	overflow: auto;
}
.mt5{
	margin-top: 5%;
}
.text-small{
	font-size: 10px;
}
.text-normal{
	font-size: 24px;
}
.text-center{
	text-align: center;
}
.divisiones{
	box-sizing: border-box;
	display: inline-block;
	float: left;
	width: 49%;
	height: auto;
	padding-right: 8%;
}
.icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
}

.ocultar{
	display: none;
}
#guardar{
	background: #FF4000;
	color: white;
	padding: 10px 15px;
	border: none;
	margin-top: 20px;
}
.text-center+p{
	text-align: right;
}
.divisiones p:first-child{
	margin-top: 0;
}